---
import type { User, Url } from "@/prisma/generated/client";
import Layout from '@/layouts/Layout.astro';

import { GET } from './api/urls';

export type UrlWithUser = Url & { user: User };

const response = await GET(Astro);
const urls: UrlWithUser[] = await response.json();
---

<Layout>
	<main class="container mx-auto px-8">
		<h1 class="text-3xl font-bold text-center my-8">Acortador de urls</h1>

		<ul>
			{
				urls.map((url: UrlWithUser) => (
					<li class="bg-gray-700 border border-gray-500 shadow-sm shadow-gray-700 inset-shadow-2xs inset-shadow-gray-600 rounded-md p-4 mb-4">
						<div class="flex">
							<h2 class="text-gray-200 font-bold">{url.user.name}</h2>
							<span class="text-gray-400">&nbsp;- {url.user.email}</span>
						</div>
						<p>Original: {url.original}</p>
						<p>Corto: {url.short}</p>
						<p>Visitas: {url.visitCount}</p>
						<a class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded block w-max mt-2" target="_blank" href={`${Astro.url.origin}/s/${url.short}`}>Visitar</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
