---
import type { User, Url } from "@/prisma/generated/client";
import Layout from '@/layouts/Layout.astro';

import { GET } from './api/urls';

type UrlWithUser = Url & { user: User };

const response = await GET(Astro);
const urls: UrlWithUser[] = await response.json();
---

<Layout>
	<h1>Acortador de urls</h1>
	<ul>
		{
			urls.map((url: UrlWithUser) => (
				<li>
					<h2>{url.user.name}</h2>
					<p>Original: {url.original}</p>
					<p>Corto: {url.short}</p>
					<p>Visitas: {url.visitCount}</p>
					<a href={`https://localhost:3000/${url.short}`}>Visitar</a>
				</li>
			))
		}
	</ul>
</Layout>
